.modal-form {
    @include modal-window;
    z-index: 1000000;
}

.modal-feedback__form {
    @include modal-content;

    min-width: 280px;
    max-width: 600px;

    @media(min-width: $desktop-width) {
        padding: 40px;
    }

    p, label, input, textarea {
        color: $color-dark;
    }

    input::placeholder, textarea::placeholder {
        color: transparentize($color-dark, .5);
    }

    .feedback__city--abakan {
        justify-self: flex-start;
    }

    .feedback__feels {
        @media(min-width: $tablet-width) {
            grid-template-columns: 1fr;
        }

        @media(min-width: $desktop-width) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .feedback__name {
        @media(min-width: $desktop-width) {
            grid-column: 1 / 2;
        }
    }

    .feedback__tel {
        @media(min-width: $tablet-width) {
            grid-column: 1 / 2;
        }
        @media(min-width: $desktop-width) {
            grid-column: 2 / 3;
        }
    }

    .feedback__text {
        @media(min-width: $tablet-width) {
            grid-column: 1 / 2;
        }
        @media(min-width: $desktop-width) {
            grid-column: 1 / 3;
        }
    }

    .feedback__radio {
        margin-bottom: 0;
    }
}

.feedback__title.modal {
    margin-bottom: 8px;
    @media (min-width: $tablet-width) {
        margin-bottom: 12px;
    }
}

.modal-form__desc {
    margin-bottom: 16px;
    @media (min-width: $tablet-width) {
        margin-bottom: 32px;
    }
}

.modal-feedback__radio {
    width: 100%;
    @media (min-width: $tablet-width) {
        width: 100%;
    }
}
