@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Inter-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Inter-SemiBold.woff") format("woff");
  font-display: swap;
}
* html, body {
  width: 100%;
  border: 0;
  color: #FFF;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody, tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu, nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

div, main, article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table caption, table th, table td {
  text-align: left;
  vertical-align: middle;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  line-height: 1;
}

:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
}

button, a {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ddd;
  position: relative;
}

.main {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    max-width: 1439px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 0 110px;
  }
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;
  color: #273040;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
}
@media (min-width: 1440px) {
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.brown-button {
  border: none;
  border-radius: 0;
  background-color: #a98143;
  color: #ffffff;
  padding: 16px 23px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
}
@media (min-width: 1440px) {
  .brown-button {
    font-size: 20px;
    line-height: 130%;
  }
}

.lite-button {
  border: 1px solid #a98143;
  border-radius: 0;
  background-color: #ffffff;
  color: #a98143;
  padding: 16px 23px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 700;
}
@media (min-width: 1440px) {
  .lite-button {
    font-size: 20px;
    line-height: 130%;
  }
}

.header {
  width: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 13px 20px 0;
  border: 1px solid #ffffff;
  border-bottom: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  z-index: 500;
}
.header img {
  padding-top: 12px;
}
@media (min-width: 768px) {
  .header img {
    width: 258px;
    height: 55px;
  }
}

.nav-main {
  display: none;
}
@media (min-width: 1440px) {
  .nav-main {
    display: block;
    margin-left: auto;
  }
}

.nav-main__list {
  display: flex;
}

.intro {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #b79a91;
  background-image: url("../../media/images/main-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro {
    background-image: url("../../media/images/main-image@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .intro {
    flex-direction: row;
  }
}
.intro::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 32, 24, 0.45);
  z-index: 0;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 110%;
  margin-top: 82px;
  z-index: 5;
}
@media (min-width: 1440px) {
  .intro__title {
    font-size: 84px;
  }
}

.intro__sign-up {
  z-index: 5;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.aboutme {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .aboutme {
    margin-top: 80px;
  }
}

.aboutme__wrapper {
  display: grid;
  grid-template-columns: auto minmax(120px, 30%);
  gap: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .aboutme__wrapper {
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 63px;
    column-gap: 0;
  }
  .aboutme__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    max-width: 100%;
    height: 140px;
    border: 1px solid #273040;
    border-bottom: none;
  }
  .aboutme__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 45%;
    background-color: #273040;
    width: 1px;
    height: 150px;
  }
}

.aboutme__image {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
}
@media (min-width: 768px) {
  .aboutme__image {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 25px 25px 0;
  }
}
@media (min-width: 1440px) {
  .aboutme__image {
    padding: 40px 40px 0;
  }
}

.aboutme__cite {
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  color: #273040;
  padding: 16px 12px 0;
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
}
@media (min-width: 768px) {
  .aboutme__cite {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 25px 25px 0;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .aboutme__cite {
    padding: 40px 40px 0;
    font-size: 28px;
  }
}
.aboutme__cite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  max-width: 100%;
  height: 35px;
  border: 1px solid #273040;
  border-bottom: none;
}
@media (min-width: 768px) {
  .aboutme__cite::before {
    display: none;
  }
}

.aboutme__inner {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .aboutme__inner {
    flex-direction: row;
    height: 63px;
  }
}

.aboutme__consultation {
  font-size: 14px;
  line-height: 110%;
  color: #273040;
  position: relative;
}
.aboutme__consultation::after {
  content: url("/media/icons/arrow-down.svg");
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
@media (min-width: 768px) {
  .aboutme__consultation::after {
    content: url("/media/icons/arrow-right.svg");
    right: -40px;
  }
}
@media (min-width: 768px) {
  .aboutme__consultation {
    font-size: 20px;
  }
}

.aboutme__button {
  width: 100%;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .aboutme__button {
    width: auto;
  }
}

.principle {
  box-sizing: border-box;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .principle {
    margin-top: 80px;
  }
}
@media (min-width: 1440px) {
  .principle {
    margin-top: 100px;
  }
}

.principle__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
@media (min-width: 768px) {
  .principle__wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
  }
}

.principle__inner {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 240px;
  position: relative;
  z-index: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.principle__inner:nth-child(odd)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2d2018;
  opacity: 0.45;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.principle__inner:nth-child(even) {
  border-top: 1px solid #273040;
  border-bottom: 1px solid #273040;
  color: #273040;
}
.principle__inner:nth-child(even) button {
  color: #273040;
}
@media (min-width: 1440px) {
  .principle__inner {
    padding: 32px 30px;
    min-height: 330px;
  }
}
.principle__inner h3, .principle__inner button, .principle__inner p {
  position: relative;
  z-index: 10;
}
.principle__inner button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 130%;
  position: relative;
}
@media (min-width: 1440px) {
  .principle__inner button {
    font-size: 20px;
  }
}
.principle__inner button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: contain;
  width: 11px;
  height: 11px;
  display: inline-block;
}
.principle__inner:nth-child(odd) button::after {
  background-image: url("../../media/icons/arrow-white.svg");
}
.principle__inner:nth-child(even) button::after {
  background-image: url("../../media/icons/arrow-black.svg");
}

.principle__inner--1 {
  background-color: #958e8b;
  background-image: url("../../media/images/photo-woman-1.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .principle__inner--1 {
    background-image: url("../../media/images/photo-woman-1@2x.jpg");
  }
}
@media (min-width: 768px) {
  .principle__inner--1 {
    grid-column: 1/3;
    grid-row: 1/span 2;
  }
}

@media (min-width: 768px) {
  .principle__inner--2 {
    grid-column: 3/5;
    grid-row: 1/2;
    border: 1px solid #273040;
    border-top: none !important;
    position: relative;
  }
  .principle__inner--2::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    background-color: #ffffff;
  }
  .principle__inner--2::after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -2px;
    right: -2px;
    background-color: #ffffff;
  }
}

.principle__inner--3 {
  background-color: #765d50;
  background-image: url("../../media/images/photo-woman-2.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .principle__inner--3 {
    background-image: url("../../media/images/photo-woman-2@2x.jpg");
  }
}
@media (min-width: 768px) {
  .principle__inner--3 {
    grid-column: 5/7;
    grid-row: 1/2;
  }
}

@media (min-width: 768px) {
  .principle__inner--4 {
    grid-column: 5/7;
    grid-row: 2/3;
    border: 1px solid #273040;
    border-right: none !important;
    position: relative;
  }
  .principle__inner--4::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    background-color: #ffffff;
  }
  .principle__inner--4::after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: #ffffff;
  }
}

.principle__inner--5 {
  background-color: #b29d94;
  background-image: url("../../media/images/photo-woman-3.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .principle__inner--5 {
    background-image: url("../../media/images/photo-woman-3@2x.jpg");
  }
}
@media (min-width: 768px) {
  .principle__inner--5 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) {
  .principle__inner--6 {
    grid-column: 1/4;
    grid-row: 3/4;
    border: 1px solid #273040;
    border-left: none !important;
    border-right: none !important;
  }
}

.principle__inner--7 {
  background-color: #8f6c5c;
  background-image: url("../../media/images/photo-woman-4.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .principle__inner--7 {
    background-image: url("../../media/images/photo-woman-4@2x.jpg");
  }
}
@media (min-width: 768px) {
  .principle__inner--7 {
    grid-column: 4/7;
    grid-row: 3/4;
  }
}

.operations {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .operations {
    margin-top: 80px;
  }
}
@media (min-width: 1440px) {
  .operations {
    margin-top: 100px;
  }
}

.operations__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.operations__info::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #273040;
  position: absolute;
  bottom: -5px;
}
.operations__info > p {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;
  color: #273040;
}
@media (min-width: 768px) {
  .operations__info > p {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.operation__sorter {
  color: #273040;
}
.operation__sorter--mobile {
  display: block;
  background-color: #a98143;
  border: none;
}
@media (min-width: 768px) {
  .operation__sorter--mobile {
    display: none;
  }
}
.operation__sorter--desktop {
  display: none;
}
@media (min-width: 768px) {
  .operation__sorter--desktop {
    display: block;
  }
}
.operation__sorter--desktop button {
  background-color: transparent;
  border: none;
}
.operation__sorter--desktop button:hover {
  color: #a98143;
}
.operation__sorter--desktop button.active {
  color: #a98143;
}

.operations__item h3 {
  font-size: 18px;
  line-height: 110%;
  color: #273040;
}
/*# sourceMappingURL=style.css.map */