@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Inter-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Inter-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "slick";
  font-style: normal;
  src: url("../../fonts/slick.ttf") format("ttf");
  font-display: swap;
}
