html {
  height: 100%;

  // для отсутствия прокрутки в режиме модального окна
  &.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
  }
}

body {
  font-family: $font-primary;
  font-size: 16px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $color-white;
  position: relative;
}

.main {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width - 1px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 0 60px;
  }
}

.container-2 {
  width: 100%;
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width - 1px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 0 60px;
  }
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;
  color: $color-dark;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.brown-button {
  border: none;
  border-radius: 0;
  background-color: $color-brown;
  color: $color-white;
  padding: 16px 23px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  transition: all 0.1s ease;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  &:hover {
    filter: brightness(0.9);
    // transform: translateY(-7px) scale(1.05);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.to-appointment {
  position: relative;
  overflow: hidden;
  // z-index: 1500;


  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.lite-button {
  border: 1px solid $color-brown;
  border-radius: 0;
  background-color: $color-white;
  color: $color-brown;
  padding: 16px 23px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

@keyframes open-elem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close-elem {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes left-right {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes opacity-arrow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
