@mixin modal-window {    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;


    height: auto;
    max-height: 0;
    opacity: 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;

    &.active {
        background-color: transparentize($color-dark, .5);
        max-height: 100%;
        opacity: 1;
        // clip: rect(500px 500px 500px 500px);
    }
}

@mixin modal-content {
    margin: auto 20px auto;
    height: auto;
    background-color: $color-white;
    box-shadow: 5px 5px 10px transparentize($color-dark, .8);
    position: relative;
}