// colors
$color-brown: #a98143;
$color-dark: #273040;
$color-gray: #cedae0;
$color-gray-1: #a4acb2;
$color-white: #ffffff;
$color-opacity: #2d2018;

// fonts
$font-primary: "Inter", sans-serif;
// $font-secondary: "Arial", sans-serif;

// viewports
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
