.articles {
    margin-top: 40px;

    @media (min-width: $tablet-width) {
        margin-top: 70px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 100px;
    }

    h2 {
        position: relative;
        margin-bottom: 40px;

        &::after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            background-color: $color-dark;
            width: 100%;
            height: 1px;
        }
    }


}