.clinic__control {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
        margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 40px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-dark;
        height: 1px;
        width: 100%;
    }
}

.clinic__title {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 110%;
    color: $color-dark;
    margin-bottom: 8px;
  
    @media (min-width: $tablet-width) {
      font-size: 24px;
      margin-bottom: 20px;
    }
}

.clinic__tab {
    background-color: transparent;
    border: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    color: $color-dark;

    @media (min-width: $tablet-width) {
        font-size: 20px;
    }

    @media (min-width: $desktop-width) {
        font-size: 24px;
    }

    &.active {
        color: $color-brown;        
    }

    &:hover {
        color: $color-brown; 
    }
}

.clinic__item {
    // max-width: 0;
    // width: 100%;
    // overflow: hidden;

    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "clin-text1"
    "clin-image"
    "clin-text2"
    "clin-address"
    "clin-button";
}


.clinic__images {
    grid-area: clin-image;

    padding: 0 12px 0;
    margin-bottom: 15px;
}

.clinic__text {
    color: $color-dark;
    margin-bottom: 15px;
}

.clinic__text--1 {
    grid-area: clin-text1;
}

.clinic__text--2 {
    grid-area: clin-text2;
    margin-bottom: 0;
}

.clinic__address {
    color: $color-dark;
    grid-area: clin-address;
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
    }
}

.clinic__button {
    display: none;
    grid-area: clin-button;

    @media (min-width: $tablet-width) {
        display: block;
    }
}