.feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @media(min-width: $tablet-width) {
        margin-top: 55px;
    }

    @media(min-width: $desktop-width) {
        flex-direction: row;
    }
}

.feedback__form {
    background-color: $color-dark;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media(min-width: $tablet-width) {
        padding: 40px;
    }

    @media(min-width: $desktop-width) {
        padding: 80px;
    }
}

.feedback__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 20px;

    @media(min-width: $tablet-width) {
        font-size: 24px;
        margin-bottom: 32px;
    }

    @media(min-width: $desktop-width) {
        font-size: 28px;
    }
}

.feedback__feels {
    display: grid;
    grid-template-columns: 1fr;

    @media(min-width: $tablet-width) {
        grid-template-columns: 1fr 1fr;
        column-gap: 28px;
    }
}

.feedback__feel {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    @media(min-width: $tablet-width) {
        margin-bottom: 28px;
    }

    span {
        font-family: "Inter";
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 4px;

        @media(min-width: $tablet-width) {
            font-size: 16px;
        }
    }

    input, textarea {
        padding: 8px 16px;
        border: 1px solid $color-gray;
        border-radius: 3px;
        background-color: transparent;
        color: $color-white;
        width: 100%;
        box-sizing: border-box;

        @media(min-width: $tablet-width) {
            font-size: 16px;
        }
    }
}

.feedback__name {
    @media(min-width: $tablet-width) {
        grid-column: 1 / 2;
    }
}

.feedback__tel {
    @media(min-width: $tablet-width) {
        grid-column: 2 / 3;
    }
}

.feedback__text {
    @media(min-width: $tablet-width) {
        grid-column: 1 / 3;
    }
}

.feedback__city-choice {
    font-size: 14px;
    margin-bottom: 8px;

    @media(min-width: $tablet-width) {
        font-size: 20px;
    }
}

.feedback__radio {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;

    @media(min-width: $tablet-width) {
        width: 250px;
    }
}

.feedback__city {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 14px;

    @media(min-width: $tablet-width) {
        font-size: 20px;
    }

    &--krasnoyarsk {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &--abakan {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        @media(min-width: $tablet-width) {
            justify-self: flex-end;
        }
    }

    input + .feedback__mark {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        outline: 1px solid $color-gray;
        outline-offset: 3px;
        margin-bottom: 2px;
        margin-left: 5px;
    }

    input:checked + .feedback__mark {
        outline-color: $color-brown;
        background-color: $color-brown;
    }
}

.feedback__label {
    margin-left: 12px;
}

.feedback__button {
    padding-top: 16px;
    padding-bottom: 16px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    @media(min-width: $tablet-width) {
        font-size: 20px;
    }
}

.feedback__image {

    @media(min-width: $desktop-width) {
        display: block;
        width: 40%;
        background-color: #a39590;
        background-image: url('../../media/images/feedback-form.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-resolution: 2dppx) {
            background-image: url('../../media/images/feedback-form@2x.jpg');
        }
    }
}