.operations {
    margin-top: 40px;

    @media (min-width: $tablet-width) {
        margin-top: 80px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 120px;
    }
}

.operations__info {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
        margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 48px;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-dark;
        position: absolute;
        bottom: -5px;

        @media (min-width: $tablet-width) {
            bottom: 5px;
        }
    }

    & > p {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 110%;
        color: $color-dark;

        @media (min-width: $tablet-width) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}


// Кнопка выбора
.operation__select {
    font-family: Inter;
    position: relative;
    border: 1px solid $color-dark;
    height: 1.5rem;
    width: 6rem;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-dark;
    background: none;
    transition: 0.3s all ease;
    z-index: 300;
    cursor: pointer;
}

.operation__select > * {
    cursor: pointer;
}

.operation__select.active + .operation__sorter {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.operation__select.selected {
    color: $color-brown;
    border-color: $color-brown;
}
.operation__select:hover {
    border-color: $color-brown;
    color: $color-brown;
}
.operation__select .label-text {
    font-size: 0.6rem;
}
// .operation__select .icon {
//     display: flex;
//     flex-direction: column;
//     font-size: 0.4rem;
//     transition: 0.2s all ease;
// }

.operation__sorter {
    position: absolute;
    top: 1.6rem;
    right: 0;
    z-index: 200;
    width: 6rem;
    border: 1px solid $color-dark;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    color: $color-dark;
    overflow: hidden;
    transition: all 0.2s ease-in;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
            background-color: $color-white;
}
.operation__sorter .operation__sorter-item {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    transition: background, color 0.3s ease;
}
.operation__sorter .operation__sorter-item:hover {
    color: $color-brown;
    background: $color-white;
}



.operations__wrapper {
    position: relative;

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-end;
        column-gap: 32px;
        row-gap: 70px;
    }

    @media (min-width: $desktop-width) {
        column-gap: 32px;
        row-gap: 80px;
    }
}

.operations__item {
    @media (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }
}

.operations__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @media (min-width: $desktop-width) {
        grid-area: 1 / 1 / 2 / 3;
    }
}

.operations__title {
    font-size: 18px;
    line-height: 110%;
    color: $color-dark;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
        margin-bottom: 12px;
        font-size: 24px;
    }

    @media (min-width: $desktop-width) {
        font-size: 32px;
    }
}

.operations__desc {
    font-size: 12px;
    line-height: 110%;
    color: $color-dark;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
        margin-bottom: 20px;
        font-size: 16px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 24px;
        // grid-area: 2 / 1 / 3 / 3;
        font-size: 20px;
    }
}

.operations__img {
    display: block;
    width: 100%;

    margin-bottom: 16px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
        margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
        grid-area: 2 / 1 / 3 / 3;
    }
}

.operations__price {
    width: 100%;
    margin-bottom: 8px;
    white-space: nowrap;

    @media (min-width: $desktop-width) {
        grid-area: 3 / 1 / 4 / 2;
        margin-bottom: 0;
    }
}

.operations__result {
    width: 100%;

    @media (min-width: $desktop-width) {
        grid-area: 3 / 2 / 4 / 3;
    }
}




.operations__slide:nth-of-type(3n-2) {

    @media (min-width: $tablet-width) {

    //   position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -43px;
        width: 315%;
        height: 1px;
        background-color: $color-dark;
      }
    }
  }
