.principle {
    box-sizing: border-box;
    margin-top: 40px;

    @media (min-width: $tablet-width) {
        margin-top: 80px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 100px;
    }
}

.principle__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @media (min-width: $tablet-width) {
        gap: 20px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media (min-width: $desktop-width) {
        gap: 32px;
    }
}

.principle__inner {
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 240px;
    position: relative;
    z-index: 1;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &:nth-child(odd)::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-opacity;
        opacity: .45;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    &:nth-child(even) {
        border-top: 1px solid $color-dark;
        border-bottom: 1px solid $color-dark;
        color: $color-dark;

        button {
            color: $color-dark;
        }
    }

    @media (min-width: $desktop-width) {
        padding: 32px 30px;
        min-height: 330px;
    }

    h3, button, p {
        position: relative;
        z-index: 10;
    }

    button {
        background: none;
        border: none;
        color: $color-white;
        font-size: 14px;
        line-height: 130%;
        position: relative;

        @media(min-width: $desktop-width) {
            font-size: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: 11px;
            background-position: contain;
            width: 11px;
            height: 11px;
            display: inline-block;
        }
    }

    &:nth-child(odd) button::after {
        background-image: url('../../media/icons/arrow-white.svg');
    }

    &:nth-child(even) button::after {
        background-image: url('../../media/icons/arrow-black.svg');
    }

    p {
        font-size: 12px;
        line-height: 120%;

        @media(min-width: $tablet-width) {
            font-size: 16px;
        }
    }

    &--white {
        min-height: auto;
        padding-left: 0;
        padding-right: 0;

        p {
            margin-top: 8px;
        }

        @media(min-width: $tablet-width) {
            padding: 30px;
        }
    }
}

.principle__inner--1 {
    background-color: #958e8b;
    background-image: url('../../media/images/photo-woman-1.jpg');

    @media (min-resolution: 2dppx) {
        background-image: url("../../media/images/photo-woman-1@2x.jpg");
    }

    @media (min-width: $tablet-width) {
        grid-column: 1 / 3;
        grid-row: 1 / span 2;
    }
}

.principle__inner--2 {
    @media (min-width: $tablet-width) {
        grid-column: 3 / 5;
        grid-row: 1 / 2;

        border: 1px solid $color-dark;
        border-top: none !important;

        position: relative;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: -2px;
            left: -2px;
            background-color: $color-white;
        }

        &::after {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: -2px;
            right: -2px;
            background-color: $color-white;
        }
    }
}

.principle__inner--3 {
    background-color: #765d50;
    background-image: url('../../media/images/photo-woman-2.jpg');

    @media (min-resolution: 2dppx) {
        background-image: url("../../media/images/photo-woman-2@2x.jpg");
    }

    @media (min-width: $tablet-width) {
        grid-column: 5 / 7;
        grid-row: 1 / 2;
    }
}

.principle__inner--4 {
    @media (min-width: $tablet-width) {
        grid-column: 5 / 7;
        grid-row: 2 / 3;

        border: 1px solid $color-dark;
        border-right: none !important;

        position: relative;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: -2px;
            left: -2px;
            background-color: $color-white;
        }

        &::after {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            top: -2px;
            left: -2px;
            background-color: $color-white;
        }
    }
}

.principle__inner--5 {
    background-color: #b29d94;
    background-image: url('../../media/images/photo-woman-3.jpg');

    @media (min-resolution: 2dppx) {
        background-image: url("../../media/images/photo-woman-3@2x.jpg");
    }

    @media (min-width: $tablet-width) {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }
}

.principle__inner--6 {
    @media (min-width: $tablet-width) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;

        border: 1px solid $color-dark;
        border-top: none !important;
        border-bottom: none !important;
    }
}

.principle__inner--7 {
    background-color: #8f6c5c;
    background-image: url('../../media/images/photo-woman-4.jpg');

    @media (min-resolution: 2dppx) {
        background-image: url("../../media/images/photo-woman-4@2x.jpg");
    }

    @media (min-width: $tablet-width) {
        grid-column: 4 / 7;
        grid-row: 3 / 4;
    }
}

.principle__more {
    display: none;

    &.active {
        display: block;
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 100;
    }
}

.principle__title {
    font-size: 14px;
    line-height: 130%;

    @media (min-width: $tablet-width) {
        font-size: 20px;
    }

    @media (min-width: $desktop-width) {
        font-size: 24px;
    }
}

.principle__desc {
    background-color: transparentize($color-white, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 12px;
    opacity: 0;

    &.active {
        opacity: 1;
        animation: open-elem 800ms forwards;
    }
}
