// Точки слайдера
.slick-dots {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparentize($color-white, .5);
    border-radius: 4px;
}

.slick-dots {
    bottom: 5px;
    line-height: 0.7;

    @media (min-width: $desktop-width) {
        line-height: 0.9;
    }
}

.slick-dots li {
    height: 15px;
    width: 10px;

    @media (min-width: $desktop-width) {
        width: 21px;
        height: 19px;
        margin: 0 3px;
    }
}

.slick-dots li button {
    width: 8px;
    height: 8px;
    background-color: transparentize($color-brown, .5);
    border-radius: 50%;
    margin: auto;

    @media (min-width: $tablet-width) {
        width: 12px;
        height: 12px;
    }

    @media (min-width: $desktop-width) {
        width: 16px;
        height: 16px;
    }

    &:hover {
        background-color: $color-brown;
    }
}

.slick-dots li.slick-active button {
    background-color: $color-brown;
}


.slick-dots li button::before {
    display: none;
}


// Кастомные стрелки
.slick-slider .slick-arrow{
    position: absolute;
    top: 50%; // выравнивание по вертикали
    transform: translateY(-50%);
    margin: -15px 0 0 0; // корректировка  вертикального выравнивания
    z-index: 2; // стрелки сверху картинок
    font-size: 0; // убираем надпись на дефолтной стрелке
    width: 30px; // ширина стрелки
    height: 40px; // высота стрелки
    cursor: pointer;
}

.slick-slider .slick-arrow.prev{
    left: -18px; // левая стрелка остается с левой стороны слайдера
    background: url('../../media/icons/arrow-slider-left.svg') center / cover no-repeat;

    @media (min-width: $tablet-width) {
        left: -10px;
    }
}

.slick-slider .slick-arrow.next{
    right: -18px; // правая стрелка переместилась справа от слайдера
    background: url('../../media/icons/arrow-slider-right.svg') center / cover no-repeat;

    @media (min-width: $tablet-width) {
        right: -10px;
    }
}

.slick-disabled {
    cursor: default !important;
    filter: grayscale(100%) opacity(25%);
}



// Operations
.operations .slick-list {
    padding-right: 20%;
}

.operations .slick-track {
    align-items: flex-end;
}

.operations .slick-slide {
    padding: 0;
}

.operations .operations__slide {
    padding-right: 30px;

    @media (min-width: $tablet-width) {
        padding-right: 0;
    }
}



// Reviews
.reviews .slick-slider {
    position: relative;
}

.reviews__image-slider .slick-track {
    width: 100%;
    max-width: 100vw;

    @media (min-width: $tablet-width) {
        height: 100%;
    }
}
.reviews .slick-list {
    @media (min-width: $tablet-width) {
        height: 100%;
    }
}

.reviews .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.reviews .slick-slider .slick-arrow.next {
    @media (min-width: $desktop-width) {
        right: 0;
    }
}

.reviews .slick-slider .slick-arrow.prev {
    @media (min-width: $desktop-width) {
        left: 0;
    }
}



// Clinic

.clinic .slick-slider .slick-arrow.prev {
    left: 0;
    @media (min-width: $desktop-width) {
        left: -10px;
    }
}

.clinic .slick-slider .slick-arrow.next {
    right: -30px;
    @media (min-width: $desktop-width) {
        right: -40px;
    }
}

.clinic .slick-dots {
    @media (min-width: $tablet-width) {
        transform: translateX(-15%);
    }
}

// Article
.articles .slick-list {
    // правый кадр торчит на 50px
    padding: 0 20% 0 0 !important;

    @media (min-width: $tablet-width) {
        padding: 0 !important;
    }
}

.articles .slick-slide {
    padding-right: 30px;

    @media (min-width: $tablet-width) {
        padding: 0 20px;
    }
}

.articles .slick-slider .slick-arrow.prev {
    left: -25px;
}

.articles .slick-slider .slick-arrow.next {
    right: -25px;
}


.modal-result__content .slick-dots {
    width: 100%;
    bottom: -34px !important;
}

.modal-result__content .slick-arrow.prev {
    left: 60px;
}

.modal-result__content .slick-arrow.next {
    right: 60px;
}