// Кастомные стрелки
.slick-slider .slick-arrow{
    position: absolute;
    top: 50%; // выравнивание по вертикали
    transform: translateY(-50%);
    margin: -15px 0 0 0; // корректировка  вертикального выравнивания
    z-index: 2; // стрелки сверху картинок
    font-size: 0; // убираем надпись на дефолтной стрелке
    width: 30px; // ширина стрелки
    height: 40px; // высота стрелки
    cursor: pointer;
}

.slick-slider .slick-arrow.prev{
    left: -18px; // левая стрелка остается с левой стороны слайдера
    background: url('../../media/icons/arrow-slider-left.svg') center / cover no-repeat;

    @media (min-width: $tablet-width) {
        left: -10px;
    }
}

.slick-slider .slick-arrow.next{
    right: -18px; // правая стрелка переместилась справа от слайдера
    background: url('../../media/icons/arrow-slider-right.svg') center / cover no-repeat;

    @media (min-width: $tablet-width) {
        right: -10px;
    }
}



// Reviews
.reviews .slick-slider {
    position: relative;
}

.reviews__image-slider .slick-track {
    width: 100%;
    max-width: 100vw;

    @media (min-width: $tablet-width) {
        height: 100%;
    }
}
.reviews .slick-list {
    @media (min-width: $tablet-width) {
        height: 100%;
    }
}

.reviews .slick-dotted.slick-slider {
    margin-bottom: 0;
}




// Clinic

.clinic .slick-arrow {
    transform: translateY(0);
}

.clinic .slick-arrow.prev{
    left: -25px; // левая стрелка остается с левой стороны слайдера
    background: url('../../media/icons/arrow-slider-left.svg') center / cover no-repeat;

    @media (min-width: $tablet-width) {
        left: -10px;
    }
}

.clinic .slick-arrow.next{
    right: -25px; // правая стрелка переместилась справа от слайдера
    background: url('../../media/icons/arrow-slider-right.svg') center / cover no-repeat;

    @media (min-width: $tablet-width) {
        right: -10px;
    }
}

.clinic__slider .slick-track {
    max-width: 100vw;
}



// Article
.articles .slick-list {
    // правый кадр торчит на 50px
    padding: 0 20% 0 0 !important;

    @media (min-width: $tablet-width) {
        padding: 0 !important;
        margin: 0 10px 0;
    }
}

.articles .prev {
    display: none !important;

    @media (min-width: $tablet-width) {
        display: block !important;
    }
}

// Увеличиваем область кнопки и убираем стрелку
.articles .next {
    height: 100%;
    width: 27%;
    background: none !important;

    @media (min-width: $tablet-width) {
        height: 40px;
        width: 30px;
        background: url('../../media/icons/arrow-slider-right.svg') center / cover no-repeat !important;
    }
}

.articles .slick-slide {
    padding: 0 10px 0;

        @media (min-width: $tablet-width) {
        padding: 0 15px 0;
        overflow: hidden;
    }

    &:first-child {
        padding-left: 0;
    }
}

// .articles .slick-slide:nth-of-type(-n+3) {
//     padding-right: 15px;

//     @media (min-width: $tablet-width) {
//         padding-right: 30px;
//     }
// }

// .articles .slick-slide:nth-of-type(n+4) {
//     padding-right: 15px;

//     @media (min-width: $tablet-width) {
//         padding-right: 30px;
//     }
// }
